
h1{
    color: rgb(51, 1, 105);
    font-size:100px;
}
.horizontally {
 height: 80%;	
 overflow: hidden;
 position: relative;
}
.horizontally .inner {
 position: absolute;
 width: 100%;
 height: 100%;
 text-align: center;
 /* Starting position */
 


 /* Apply animation to this element */	
 -moz-animation: horizontally 5s linear infinite alternate;
 -webkit-animation: horizontally 5s linear infinite alternate;
 animation: horizontally 5s linear infinite alternate;
}
/* Move it (define the animation) */
/* @-moz-keyframes horizontally {
 0%   { -moz-transform: translateX(40%); }
 50%  { -moz-transform: scaleX(-1); }
 100% { -moz-transform: translateX(-40%); }

}
@-webkit-keyframes horizontally {
 0%   { -webkit-transform: translateX(40%); }
 50%  { -moz-transform: scaleX(-1); }
 100% { -webkit-transform: translateX(-40%); }
} */
@keyframes horizontally {

    10%{
        transform: translateX(-20%);
    }
    20%{
        transform: translateX(20%);
    }
    30%{
        transform: translateX(-20%);
    }

    40% { 
 
     
        transform:scaleX(-1)
     }
     60% { 
 
     
        transform:scaleX(1)
     }
     75% { 
 
     
        transform:scaleX(-1)
     }
    
 100% { 
 
     
    transform:scaleX(1)
 }
}



